@model IEnumerable<prjMvcCoreDemo.ViewModel.CLoginViewModel>

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>輸入帳號與密碼</h4>
        <hr />
        <div class="form-group">
            帳號(註冊時的Email)
            <div class="col-md-3">
                @Html.TextBox("txtAccount", "", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                密碼
                <div class="col-md-10">
                    @Html.TextBox("txtPassword", "", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <input type="submit" value="登入" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("忘記帳號密碼", "List")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>